@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');
$bg-main-color: #333;

body {
	margin: 0;
}

header {
	height: auto;
	margin: 10px;
	background-color: $bg-main-color;
	h1 {
		font-family: Raleway;
		font-size: 20px;
		font-weight: bold;
		color: white;
		text-align: center;
		padding: 10px;
		strong {
			font-size: 30px;
			color: rgb(0, 255, 85);
		}
	}
}

main {
	display: flex;
}

.formularz {
	height: auto;
	margin: 10px;
	padding: 10px;
	border-color: $bg-main-color;
	border-style: inset;
}

footer {
	height: auto;
	margin: 10px;
	text-align: center;
	background-color: $bg-main-color;
	display: flex;
	justify-content: center;
	p {
		font-family: Raleway;
		font-size: 15px;
		font-weight: lighter;
		color: white;
		text-align: center;
		margin: 5px;
	}
}
